<h1>Home#top</h1>
<p>Find me in app/views/home/top.html.erb</p>

<%= form_tag({controller: "posts", action: "import", method: "post"}, {multipart: true}) do %>
  <%= file_field_tag :file %>
  <%= submit_tag "インポート" %>
<% end %>

<%= link_to "一覧", posts_index_path %>